{:source-paths ["src"]
 :nrepl        {:port 3333}
 :dependencies [[org.clojure/core.async "0.4.474"]
                [cljs-ajax "0.7.3"]
                [binaryage/oops "0.6.2"]]
 :builds        {:app {:target           :browser
                       :output-dir       "public"
                       :output-to        "public/keechma-test.js"
                       :compiler-options {:pretty-print true}}}}
